
<h1><%=boardtype[0].title%></h1>
<table class="table table-bordered border-primary">
    <thead><td>작성자</td><td>제목</td><td>날짜</td></thead> 
    <% if(boards.length > 0) {
        var i=0;
        while(i<boards.length) { %>
    <tr>
        <td><%=boards[i].name%></td>
        <td><a href="/board/detail/<%=boards[i].board_id%>/<%=pNum%>" style="text-decoration: none;"><%=boards[i].title%></a></td>
        <td><%=boards[i].date%></td>
    </tr>

    <% i++; } } %>
       
</table>

<% if(boards.length === 0) { %> 
    <p>게시글이 없습니다.</p>
<% } %>

<% if(boardtype[0].write_YN === 'Y') { 
    if(login) { %>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
   <a href="/board/create/<%=boardtype[0].type_id%>"> <button type="button" class="btn btn-info me-md-2">글쓰기</button> </a>
</div>
<% } } else if(boardtype[0].write_YN === 'N' && login) {
    if(cls === 'MNG' || cls === 'CEO') { %>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/board/create/<%=boardtype[0].type_id%>"> <button type="button" class="btn btn-info me-md-2">글쓰기</button> </a>
         </div>
    <% } } %>

    <% var j = 1;
    while(j<=totalPages) {
        if(j == pNum) { %>
           <span style="font-weight : bold;"><%=j%></span> &nbsp;&nbsp;
        <% } else { %>
           <span><a href="/board/view/<%=boardtype[0].type_id%>/<%=j%>"><%=j%></a></span> &nbsp;&nbsp;
        <% } j ++ } %>
       
